.sidebar_wrapper {
    height: 100vh;
  }
  .profile_menu_icon {
    float: right;
    margin: 10px;
  }
  .side_profiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .profile_avatar {
    margin: auto;
    width: 60px;
    height: 60px;
  }
  .user_name {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: var(--text-primary-color);
  }
  .sideLinks {
    height: 100%;
  }
  .menuitem_text {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-secondary-color);
  }
  
  .myapp_menuitem svg {
    font-size: 18px;
    color: var(--icon-primary-color);
  }
  
  .myapp_routes {
    min-width: 60%;
  }
  .active {
    background-color: aqua;
    color: brown;
  }
  @media (max-width: 800px) {
    .myapplication_wrapper {
      margin: 1%;
      width: 100%;
    }
  }